img{
    max-width: 100%;
}
a{
    text-decoration: none;
    color:inherit;
}
.{
    box-sizing: content-box;
}

.main, .header, .featured{
    margin-left:auto;
    margin-right:auto;
}
.work{
    margin-left:auto;
    margin-right:auto;
}
.logo{
    width:40px;
    height:40px;
    margin:30px;
    text-align:right;
    display:inline-block;
}

.header{
    border-bottom:2px solid #7d97ad;
    margin:0 auto 30px;
}
.header-text {
    color: #2d3c49;
    float:right;
    text-align:right;
}
.text-work{
    color:#2d3c49;
    margin-top:20px;
    margin-bottom: 20px;
    font-size:2em;
}
.item{
    width: 100%;
    display:inline-block;
    margin-left:10px;
    margin-right:10px;
    margin-top:20px;
    text-align:center;
}
.item p{
    text-transform:uppercase;
    font-weight:bold;
}

@media screen and (min-width: 700px){
    .item{
        width: 45%;
    }
}

@media screen and (min-width: 1024px){
    .main, .header, .featured{
        width:1000px;
    }
    .work{
        width:1000px;
    }
    .item{
        width: 30%;
    }
}

.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both;}
.clearfix{zoom:1}
